services:
  - type: web
    name: url-video-bot
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: python url_video_bot.py
    envVars:
      - key: API_ID
        sync: false
      - key: API_HASH
        sync: false
      - key: BOT_TOKEN
        sync: false
      - key: ADMIN_IDS
        sync: false
